<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
    <!-- Enlace a Materialize CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <!-- Enlace a styles.css -->
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <!-- Barra de navegación -->
    <nav class="teal">
        <div class="nav-wrapper container">
            <a href="#" class="brand-logo">Mi App</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#inicio">ICO</a></li>
                <li><a href="#acerca">FES</a></li>
                <li><a href="#contacto">ARAGÓN</a></li>
            </ul>
        </div>
    </nav>

    <!-- Contenido principal -->
    <div class="container center-align" id="inicio">
        <h1 class="teal-text text-darken-2">Bienvenido a ver mis estilos desde Node</h1>
        <p class="flow-text">Tarea de uso de CSS</p>
        <a class="waves-effect waves-light btn teal" href="#acerca">CHECK</a>
    </div>

    <!-- Sección Acerca -->
    <div class="section" id="acerca">
        <div class="row">
            <div class="col s12 m6">
                <h5 class="teal-text">¿Qué es esto?</h5>
                <p>Ejemplo del uso de rutas y estilos con una plantilla de materialize</p>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="page-footer teal">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h5 class="white-text">Mi App</h5>
                    <p class="grey-text text-lighten-4">Usado node para verla en el local y visualizar el puerto y el uso de rutas </p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Programacion Web 2 
            </div>
        </div>
    </footer>
</body>
</html>